[submodule "bookworm-api"]
	path = bookworm-api
	url = https://github.com/kurtzilla-mark2/bookworm-api
[submodule "bookworm-react"]
	path = bookworm-react
	url = https://github.com/kurtzilla-mark2/bookworm-react
